.not-show {
  opacity: 0;
}

.logo {
  display: block;
  width: 140px;
}

.search-box {
  padding: 25px;
  background-color: #f8f8f8;
}

form .main-error {
  margin: 10px 10px 10px 0px;
  color: red;
}

form .error {
  color: red;
}

/* START LOGIN */
#login {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dropdown-menu a {
  cursor: pointer;
}

.navbar-collapse {
  float: right;
}

.header .navbar-nav a.user-menu {
  font-size: 16px;
}

.link-registro {
  color: #999;
}

.fb-icon-login {
  cursor: pointer;
}

.languages {
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
}

.languages .lang {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.languages .lang img {
  display: inline-block;
  cursor: pointer;
}

.languages .lang-es img {
  width: 34px;
  position: relative;
  top: 1px;
}

.languages .lang-en img {
  width: 31px;
}

/* START HOME */
#home #headerHome {
  background-image: url('../images/banners/banner.png');
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 330px;
  margin-bottom: 20px;
}

#headerHome .text-slider {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  margin-top: 60px;
  height: 100px;
  font-weight: bolder;
  position: relative;
}

#headerHome .text-slider .item {
  opacity: 0;
  margin-top: -1000px;
  position: absolute;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

#headerHome .text-slider .item.active {
  opacity: 1;
  margin-top: 0px;

}

#headerHome .search-container {
  margin-top: 10px;
  position: relative;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#headerHome .search {
  width: 100%;
  text-align: center;
}

#headerHome .search-container input {
  height: 55px;
  border-radius: 9px;
  font-size: 20px;
}

#headerHome .search-container button {
  height: 55px;
  border-top-right-radius: 10px;
  left: -5px;
  border-bottom-right-radius: 10px;
}

#subjectsHome {
  margin-top: 10px;
  margin-bottom: 40px;
}

#subjectsHome .subjects-item-container {
  margin-top: 40px;
}

#subjectsHome .subjects-item-container .item {
}

#subjectsHome .subjects-item-container .item .item-link {
  display: inline-block;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 42px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  background-position: center center;
}

#subjectsHome .subjects-item-container .item .item-link.computer {
  background-image: url('../images/home/subjects/computer.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.engineering {
  background-image: url('../images/home/subjects/engineering.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.biology {
  background-image: url('../images/home/subjects/biology.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.language {
  background-image: url('../images/home/subjects/language.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.economy {
  background-image: url('../images/home/subjects/economy.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.management {
  background-image: url('../images/home/subjects/management.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.history {
  background-image: url('../images/home/subjects/history.jpg');
}

#subjectsHome .subjects-item-container .item .item-link.finance {
  background-image: url('../images/home/subjects/computer.jpg');
}

#subjectsHome .button-find-search {
  margin-top: 30px;
  text-align: center;
}

#subjectsHome .button-find-search .btn {
  width: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#howWorksHome .service-box {
  margin-top: 25px;
  margin-bottom: 50px;
}

#howWorksHome .service-box .service-box-heading {
  padding: 12px 0;
  height: 75px;
}

#howWorksHome .service-box .service-box-heading span {
  margin-left: 0px;
  display: inline-block;
}

#howWorksHome .service-box .service-box-heading span .icon {
  margin-right: 5px;
  float: left;
}

/* END HOME */

/* START PROFILE */
#user {
  margin-bottom: 60px;
}

#user #infoUser {
  margin-bottom: 30px;
  margin-top: 30px;
}

#user #infoUser .image-user {
  padding-right: 20px;
  padding-left: 20px;
}

#user #infoUser .image-user .edit-img {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #24205A;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -15px;
  color: white;
  cursor: pointer;
  opacity: 0;
}

#user #infoUser .image-user .edit-img.visible {
  opacity: 0.9;
}

#user #infoUser .user-username {
  font-size: 22px;
}

#user #infoUser .edit-profile {
  font-size: 12px;
  margin-bottom: 10px;
  color: #31708f;
  cursor: pointer;
}

#user #infoUser .user-field {
  padding-top: 5px;
  display: inline-block;
}

#user #infoUser .content-medals {
  margin-top: 10px;
}

#user #infoUser .content-medals .medal {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.35;
  cursor: not-allowed;
}


#user #infoUser .content-medals .medal.active{
  opacity: 1;
  cursor: default;
}

/* END PROFILE */

/* BEGIN SEARCH */

#headerSearch {
  background-image: url('../images/banners/banner.png');
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 150px;
  margin-bottom: 20px;
}

#headerSearch .search-container {
  margin-top: 50px;
  position: relative;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

#headerSearch .search {
  width: 100%;
  text-align: center;
}

#headerSearch .search-container input {
  height: 55px;
  border-radius: 9px;
  font-size: 20px;
}

#headerSearch .search-container button {
  height: 55px;
  border-top-right-radius: 10px;
  left: -5px;
  border-bottom-right-radius: 10px;
}

#filtersSearch {
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #E0DFDF;
  margin-top: 10px;
  background-color: #fcfcfc;
}

#filtersSearch .filters {
  padding-top: 10px;
  padding-bottom: 10px;
}

#filtersSearch .filters .filter {
  display: inline-block;
  padding: 2px 27px 5px 10px;
  background-color: #0362fd;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  position: relative;
}

#filtersSearch .filters .filter.without-filter {
  padding-top: 5px;
}

#filtersSearch .filters .filter .section-filter {
  font-size: 10px;
  color: #CCCCCC;
}

#filtersSearch .filters .filter .value-filter {
  text-transform: capitalize;
}

#filtersSearch .filters .filter .close {
  position: absolute;
  right: 5px;
  top: 3px;
  color: white;
  font-size: 11px;
  opacity: 1;
  font-weight: normal;
}

#contentSearch {
  margin-top: 20px;
}

#contentSearch .filters-column {
  border: 1px solid #E0DFDF;
  margin-top: 10px;
  padding: 20px;
  background-color: #fcfcfc;
  margin-bottom: 60px;
}

#contentSearch .filters-column .title {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 10px;
  display: inline-block;
}

#contentSearch .filters-column .filter-section {
}

#contentSearch .filters-column .filter-section .title {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 15px;

}

#contentSearch .filters-column .filter-section .filters {
  margin-left: 10px;
}

#contentSearch .filters-column .filter-section .filters .filter {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: #0362fd;
  color: white;
  font-size: 14px;
  position: relative;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 100%;
}

#contentSearch .search-result {
  padding-top: 10px;
}

#contentSearch .search-result .without-documents {
  font-size: 18px;
  padding: 10px;
  color: #444;
}

#contentSearch .search-result .fa-tags-text {
  text-decoration: none;
  padding: 0;
  color: #555;
  width: auto;
}

/* END SEARCH */

/* BEGIN ENTITY */
#entity #headerEntity {
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 330px;
  margin-bottom: 20px;
}

#entity #headerEntity.image-1 {
  background-image: url('../images/banners/entities/entity_1.jpg');
}

#entity #headerEntity.image-2 {
  background-image: url('../images/banners/entities/entity_2.jpg');
}

#entity #headerEntity.image-3 {
  background-image: url('../images/banners/entities/entity_3.jpg');
}

#entity #headerEntity.image-4 {
  background-image: url('../images/banners/entities/entity_4.jpg');
}

#entity #headerEntity.image-5 {
  background-image: url('../images/banners/entities/entity_5.jpg');
}

#entity #headerEntity.image-6 {
  background-image: url('../images/banners/entities/entity_6.jpg');
}

#entity #headerEntity .title {
  font-size: 40px;
  margin-top: 200px;
  font-weight: bolder;
  text-shadow: 1px 1px #62707f;
}

#entity #headerSearch .search-container {
  margin-top: 50px;
  position: relative;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

#entity #headerSearch .search-container .text {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin-bottom: 15px;
}

#entity #content {
  margin-top: 20px;
}

#entity #content .first-title {
  font-size: 26px;
}

#entity #content .description {
  color: #656565;
  font-size: 14px;
  text-align: justify;
}

#entity .search-result {
  padding-top: 10px;
}

#entity .search-result .item-result {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #E0DFDF;
  padding-bottom: 15px;
}

#entity .search-result .item-result .image {
  overflow: hidden;
}

#entity .search-result .item-result .image img {
}

#entity .search-result .item-result .title {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 8px;
}

#entity .search-result .item-result .description {
  color: #444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 2px;
}

#entity .search-result .item-result .button-document-detail {
  margin-top: 10px;
}

#entity .search-result .without-documents {
  font-size: 18px;
  padding: 10px;
  color: #444;
}

#entity .search-result .fa-tags-text {
  text-decoration: none;
  padding: 0;
  color: #555;
  width: auto;
}

#entity #headerSearch {
  margin-top: 50px;
  margin-bottom: 0px;
}

/* END ENTITY */

/* BEGIN SUBJECT */
#subject #headerSubject {
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 330px;
  margin-bottom: 20px;
}

#subject #headerSubject.engineering {
  background-image: url('../images/banners/subjects/banner_engineering.jpg');
}

#subject #headerSubject.biology {
  background-image: url('../images/banners/subjects/banner_biology.jpg');
}

#subject #headerSubject.computer {
  background-image: url('../images/banners/subjects/banner_computer.jpg');
}

#subject #headerSubject.economy {
  background-image: url('../images/banners/subjects/banner_economy.jpg');
}

#subject #headerSubject.finance {
  background-image: url('../images/banners/subjects/banner_finance.jpg');
}

#subject #headerSubject.history {
  background-image: url('../images/banners/subjects/banner_history.jpg');
}

#subject #headerSubject.language {
  background-image: url('../images/banners/subjects/banner_language.jpg');
}

#subject #headerSubject.management {
  background-image: url('../images/banners/subjects/banner_management.jpg');
}

#subject #headerSubject .title {
  font-size: 40px;
  margin-top: 200px;
  font-weight: bolder;
  text-shadow: 1px 1px #62707f;
}

#subject #headerSearch .search-container {
  margin-top: 50px;
  position: relative;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

#subject #headerSearch .search-container .text {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin-bottom: 15px;
}

#subject #content .description {
  color: #656565;
  font-size: 14px;
  text-align: justify;
}
#subject .search-result {
  padding-top: 10px;
}

#subject .search-result .item-result {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #E0DFDF;
  padding-bottom: 15px;
}

#subject .search-result .item-result .image {
  overflow: hidden;
}

#subject .search-result .item-result .image img {
}

#subject .search-result .item-result .title {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 8px;
}

#subject .search-result .item-result .description {
  color: #444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 2px;
}

#subject .search-result .item-result .button-document-detail {
  margin-top: 10px;
}

#subject .search-result .without-documents {
  font-size: 18px;
  padding: 10px;
  color: #444;
}

#subject .search-result .fa-tags-text {
  text-decoration: none;
  padding: 0;
  color: #555;
  width: auto;
}

#subject #headerSearch {
  margin-top: 50px;
  margin-bottom: 0px;
}

/* END SUBJECT */

/* BEGIN DOCUMENT EDIT */
#documentEdit #headerDocumentEdit {
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 230px;
  margin-bottom: 20px;
  background-image: url('../images/banners/subjects/banner_engineering.jpg');
}

#documentEdit #headerDocumentEdit .title {
  font-size: 40px;
  margin-top: 100px;
  font-weight: bolder;
  text-shadow: 1px 1px #62707f;
}

#documentEdit #content {

}

#documentEdit #content #formDocument {
  margin-top: 20px;
  margin-bottom: 50px;
}

#documentEdit #content #formDocument .radio input[type="radio"],
#documentEdit #content #formDocument .radio-inline input[type="radio"],
#documentEdit #content #formDocument .checkbox input[type="checkbox"],
#documentEdit #content #formDocument .checkbox-inline input[type="checkbox"] {
  float: none;
  margin-left: 0px;
}

#documentEdit #content #formDocument .error {
  border: 1px solid red;
}

#documentEdit #content .link-popup {
  cursor: pointer;
  font-weight: bolder;
}

/* END DOCUMENT EDIT*/

/* DIRECTIVE DOCUMENT LIST ITEM */

.document-list-item {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #E0DFDF;
  padding-bottom: 30px;
}

.document-list-item .image {
  overflow: hidden;
}

.document-list-item .image img {
}

.document-list-item .title {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 8px;
}

.document-list-item .description {
  color: #444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 2px;
}

.document-list-item .button-document-detail {
  margin-top: 10px;
}

.document-list-item .score {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.document-list-item .score label {
  color: grey;
}

.document-list-item .score input[type = "radio"] {
  display: none;
}

.document-list-item .score {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}

.document-list-item .score label:hover {
  color: orange;
}

.document-list-item .score label:hover ~ label {
  color: orange;
}

.document-list-item .score input[type = "radio"]:checked ~ label {
  color: orange;
}

.document-list-item .complaint {
  display: inline-block;
  position: relative;
  top: -4px;
  cursor: pointer;
}

.document-list-item .complaint img {
  width: 22px;
  height: 22px;
}

/* END DIRECTIVE DOCUMENT LIST ITEM */

/* BEGIN POPUP */
#popup .modal-body {
  padding-left: 45px;
  padding-right: 45px;
}

#popup textarea {
  resize: none;
  height: 100px;
}

#popup label {
  margin-top: 7px;
}

/* END POPUP*/

/* BEGIN DOCUMENT */

#document #headerDocument {
  width: 100%;
  color: #fff;
  background-size: cover;
  justify-content: center;
  min-height: 200px;
  margin-bottom: 20px;
}

#document #headerDocument.engineering {
  background-image: url('../images/banners/subjects/banner_engineering.jpg');
}

#document #headerDocument.biology {
  background-image: url('../images/banners/subjects/banner_biology.jpg');
}

#document #headerDocument.computer {
  background-image: url('../images/banners/subjects/banner_computer.jpg');
}

#document #headerDocument.economy {
  background-image: url('../images/banners/subjects/banner_economy.jpg');
}

#document #headerDocument.finance {
  background-image: url('../images/banners/subjects/banner_finance.jpg');
}

#document #headerDocument.history {
  background-image: url('../images/banners/subjects/banner_history.jpg');
}

#document #headerDocument.language {
  background-image: url('../images/banners/subjects/banner_language.jpg');
}

#document #headerDocument.management {
  background-image: url('../images/banners/subjects/banner_management.jpg');
}

#document #headerDocument .title {
  font-size: 40px;
  margin-top: 110px;
  font-weight: bolder;
  text-shadow: 1px 1px #62707f;
}

#document #content .title {
  color: #444;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 25px;
}

#document .description {
  color: #444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 20px;
}

#document .button-document-detail {
  margin-top: 10px;
}

#document .score {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

#document .score label {
  color: grey;
}

#document .score input[type = "radio"] {
  display: none;
}

#document .score {
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}

#document .score label:hover {
  color: orange;
}

#document .score label:hover ~ label {
  color: orange;
}

#document .score input[type = "radio"]:checked ~ label {
  color: orange;
}

#document .complaint {
  display: inline-block;
  position: relative;
  top: -4px;
  cursor: pointer;
}

#document .complaint img {
  width: 22px;
  height: 22px;
}

.blog-info li a {
  text-decoration: none;
  color: #555;
}

.comments-container {
  margin-bottom: 20px;
  margin-top: 10px;
}

.comments-container img {
  width: 60px;
  position: relative;
}

.comments-container .add-comment-container {
  margin-top: 30px;
}

.comments-container .add-comment-container img {
  width: 60px;
  position: relative;
}

.comments-container .add-comment-container textarea {
  resize: none;
}

.comments-container .add-comment-container button {
  margin-top: 5px;
}

.document-list-item-small {
  border-bottom: 1px solid #E0DFDF;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.document-list-item-small .title {
  font-size: 20px !important;
  margin-top: 10px !important;
}

.document-list-item-small .title .puntuaction {
  font-size: 12px;
  font-weight: normal;
}

.document-list-item-small .title .puntuaction i {
  color: #0da3e2;
}

.document-list-item-small .blog-info {
  margin: 4px 0 !important;
  padding: 0px 0 !important;
  border: none !important;
}

/* END DOCUMENT */
.blog-item h4.media-heading {
  height: 15px;
}

.modal-body-versions {
  padding-top: 0px;
}

.modal-body-versions .versions-container {
  margin-top: 10px;
  margin-bottom: 10px
}

.modal-body-versions .versions-container .header-versions {
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 8px 5px 8px;
  font-weight: bolder;
}

.modal-body-versions .versions-container .header-versions .date {
  display: inline-block;
  width: 420px;
}

.modal-body-versions .versions-container .header-versions .download {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.modal-body-versions .versions-container .document-version {
  padding: 8px;
  border-bottom: 1px solid #CCCCCC;

}

.modal-body-versions .versions-container .document-version .version-date {
  display: inline-block;
  width: 420px;
}

.modal-body-versions .versions-container .document-version .version-download {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.users-shared {
  padding-top: 10px;
  padding-bottom: 10px;
}

.users-shared .user-shared {
  display: inline-block;
  padding: 2px 20px 5px 10px;
  background-color: #0362fd;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  position: relative;
}

.users-shared .user-shared i {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2px;
  margin-right: 4px;
  font-size: 11px;
  cursor: pointer;
}

.container-notifications {
  display: inline-block;
  margin-right: 11px;
  float: right;

}
.container-notifications .icon-notification {
  display: inline-block;
  background-color: #62707f;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.container-notifications  .badge-quantity-notifications{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bb2413;
  text-align: center;
  width: 23px;
  height: 23px;
  border-radius: 70px;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 11px;
  font-weight: bolder;
  border: 0px;
  padding-top: 4px;
  color: white;
}

.container-notifications .list {
  list-style: none;
  position: absolute;
  background-color: #62707f;
  width: 350px;
  color: white;
  padding-left: 0px;
  margin-left: -285px;
}
.container-notifications .list li{
  border-bottom: 1px solid white;
  padding: 20px;
}
.container-notifications .list li.active{
  background-color: #8196AE;
}


.container-notifications .list li .text{
  font-size: 14px;
  padding-bottom: 5px;
}
.container-notifications .list li .date{
  text-align: left;
  cursor: pointer;
  font-weight: bolder;
  float: left;
}

.container-notifications .list li .link{
  text-align: right;
  cursor: pointer;
  font-weight: bolder;

}
.container-notifications .list li .link a{
  text-decoration: none;
  color:white;
}
