<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hubin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="styles/jquery.fancybox.css" rel="stylesheet"/>
  <link href="styles/rs-style.css" media="screen" rel="stylesheet">
  <link href="styles/settings.css" media="screen" rel="stylesheet">
  <link href="styles/jquery.bxslider.css" rel="stylesheet"/>
  <link href="styles/style-metronic.css" rel="stylesheet" type="text/css"/>
  <link href="styles/bootstrap-editable.css" rel="stylesheet" type="text/css"/>
  <link href="styles/angular-toastr.min.css" rel="stylesheet" type="text/css"/>
  <link href="styles/style.css" rel="stylesheet" type="text/css"/>
  <link href="styles/blue.css" rel="stylesheet" type="text/css"/>
  <link href="styles/style-responsive.css" rel="stylesheet"/>
  <link href="styles/main.css" rel="stylesheet" type="text/css"/>
  <link href="favicon.ico" rel="shortcut icon"/>

</head>
<body ng-app="hubinFrontendApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div id="mainHeader" class="header navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img class="logo" src="images/logo.png" alt="Hubin"/>
      </a>

    </div>
    <div class="languages">
      <div class="lang lang-es" ng-click="changeLanguage('es')">
        <img src="images/lang-es.png"/>
      </div>
      <div class="lang lang-en" ng-click="changeLanguage('en')">
        <img src="images/lang-en.png"/>
      </div>
    </div>


    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/login') }" ng-if="user == undefined"><a href="#/login"
                                                                                  class="js-login">Login</a></li>
        <li class="dropdown" ng-if="user != undefined">
          <a class="dropdown-toggle user-menu" data-close-others="false" data-delay="0" data-hover="dropdown"
             data-toggle="dropdown">
            {{user.username}}
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/#/user">{{'header.my_profile'| translate }}</a>
            </li>
            <li>
              <a href="/#/document/new">{{'header.load_document'| translate }}</a>
            </li>
            <li>
              <a class="logout" ng-click="logout()">{{'header.logout'| translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div  ng-if="user != undefined" class="container-notifications">
      <div class="icon-notification js-icon-notification with-new">
        <div class="badge-quantity-notifications">{{quantNewNotifications}}</div>
        <i class="fa fa-bell"></i>
      </div>
      <ul class="list js-list-notifications"  style="display: none;">
        <li ng-repeat="(key, notification) in notifications" ng-class="{active: !notification.leido}" ng-click="markAsRead($event, notification)">
          <div class="text">
            <span ng-if="notification.idDocumento !== null">
              {{'notification.document.' + notification.evento | translate }}
            </span>
            <span ng-if="notification.idMateria !== null">
              {{'notification.subject.' + notification.evento | translate }}
            </span>
          </div>
          <div class="date">{{notification.fecha}}</div>
          <div class="link">
            <a href="#/document/{{notification.idDocumento}}" ng-if="notification.idDocumento !== null" ng-click="closeNotifications()">Ver más</a>
            <a href="#/subject/{{notification.idMateria}}" ng-if="notification.idMateria !== null" ng-click="closeNotifications()">Ver más</a>
          </div>
        </li>
      </ul>
    </div>


  </div>
</div>

<div class="page-container">
  <div ng-view=""></div>
  <feedback ng-if="user != undefined"></feedback>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 space-mobile">
        <!-- BEGIN CONTACTS -->
        <h2>{{'footer.contact_us'| translate }}</h2>
        <address class="no-space">
          {{'footer.send_your_suggest'| translate }}:
          <a href="mailto:info@hubin.com">info@hubin.com</a>
        </address>
        <!-- END CONTACTS -->
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p>
          <span class="margin-right-10">Hubin 2019©. {{'footer.copyright'| translate }}</span>
          <a href="#">{{'footer.privacy'| translate }}</a> | <a href="#">{{'footer.terms_and_conditions'| translate
          }}</a>

        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <ul class="social-footer">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="scripts/libs/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="scripts/libs/hover-dropdown.js" type="text/javascript"></script>
<script src="scripts/libs/back-to-top.js" type="text/javascript"></script>
<script src="scripts/libs/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="scripts/libs/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
<script src="scripts/libs/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="scripts/libs/jquery.bxslider.min.js" type="text/javascript"></script>
<script src="scripts/libs/bootstrap-editable.min.js" type="text/javascript"></script>
<script src="scripts/libs/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>
<script src="scripts/libs/angular-toastr.min.js" type="text/javascript"></script>
<script src="scripts/libs/appTemplate.js"></script>
<script src="scripts/libs/index.js"></script>
<script src="scripts/app.js"></script>

<script src="scripts/directives/documentItem.js"></script>
<script src="scripts/directives/feedback.js"></script>
<script src="scripts/directives/comments.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/entity.js"></script>
<script src="scripts/controllers/subject.js"></script>
<script src="scripts/controllers/documentEdit.js"></script>
<script src="scripts/controllers/document.js"></script>
<script src="scripts/controllers/modalFeedback.js"></script>
<script src="scripts/controllers/modalReport.js"></script>
<script src="scripts/controllers/modalVersions.js"></script>
<script src="scripts/controllers/modalShared.js"></script>


<script src="scripts/services/configService.js"></script>
<script src="scripts/services/securityService.js"></script>
<script src="scripts/services/sessionService.js"></script>
<script src="scripts/services/httpService.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/searchService.js"></script>
<script src="scripts/services/subjectService.js"></script>
<script src="scripts/services/levelService.js"></script>
<script src="scripts/services/languageService.js"></script>
<script src="scripts/services/entityService.js"></script>
<script src="scripts/services/documentService.js"></script>
<script src="scripts/services/feedbackService.js"></script>
<script src="scripts/services/scoreService.js"></script>
<script src="scripts/services/reportService.js"></script>
<script src="scripts/services/commentService.js"></script>
<script src="scripts/services/objectiveService.js"></script>
<script src="scripts/services/notificationService.js"></script>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '154304041686196',
      xfbml: true,
      version: 'v2.5'
    });
  };
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

<script type="text/javascript">
  $(document).ready(function () {
    AppTemplate.init();
  });
</script>

</body>
</html>
