<section id="document">
  <div id="headerDocument">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Nombre documento</div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Nombre documento</h3>
          <p>Descripcion del documento.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          ACA
        </div>
      </div>
    </div>
</section>


