<section id="home">
  <div id="headerHome">
    <div class="container">
      <div class="row">
        <div class=" col-md-offset-2 col-md-8">
          <div class="text-slider js-text-slider">
            <div class="item active" data-step-number="1">¡Encontrá el material que buscás!</div>
            <div class="item" data-step-number="2">¡Compartí tu material con otros!</div>
            <div class="item" data-step-number="3">¡Formá parte y obtené beneficios!</div>
          </div>
          <div class="search-container">
            <div class="search">
              <form class="form-inline" action="#" ng-submit="searchDocument()">
                <div class="input-group">
                  <div class="input-cont">
                    <input class="form-control" type="text" placeholder="¿Qué estás buscando?"
                           ng-model="searchDocumentName">
                  </div>
                  <span class="input-group-btn">
                            <button class="btn btn-default theme-btn" type="submit">
                                Buscar
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="subjectsHome">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Temas populares</h1>
          <div class="subjects-item-container">
            <div class="item col-md-3" ng-repeat="(key, subject) in subjectsOutstanding">
              <a href="#/subject/{{subject.code}}" class="item-link {{subject.code}}">
                {{ subject.nombre }}
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-find-search">
            <a href="#/search" class="btn btn-lg green">Encontrá lo que buscás</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="howWorksHome">
    <div class="container">
      <h1>¿Cómo funciona?</h1>
      <div class="row service-box">
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-book blue"></i></em>Encontrá lo que<br>buscás</span>
          </div>
          <p>Hubin cuenta con información de calidad al servicio de la comunidad.<br/>
            ¡Encontrá en nuestro catálogo lo que estás buscando!
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-group blue"></i></em>Compartí tu material con la comunidad</span>
          </div>
          <p>La comunidad es el bien más valioso de Hubin y nuestro catálogo se nutre de ella.<br>¡Compartí tu material
            y sé parte!</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-trophy blue"></i></em>Participá y obtené beneficios</span>
          </div>
          <p>Subí material, puntuá material existente y denunciá plagio o material inadecuado.<br/> ¡Participá en Hubin
            y obtené beneficios!</p>
        </div>
      </div>
    </div>
  </div>
</section>

