<section id="home">
  <div id="headerHome">
    <div class="container">
      <div class="row">
        <div class=" col-md-offset-2 col-md-8">
          <div class="text-slider js-text-slider">
            <div class="item active" data-step-number="1">{{'home.text_slider_1' | translate}}</div>
            <div class="item" data-step-number="2">{{'home.text_slider_2' | translate}}</div>
            <div class="item" data-step-number="3">{{'home.text_slider_3' | translate}}</div>
          </div>
          <div class="search-container">
            <div class="search">
              <form class="form-inline" action="#" ng-submit="searchDocument($event)">
                <div class="input-group">
                  <div class="input-cont">
                    <input class="form-control" type="text" placeholder="{{'home.search_placeholder' | translate}}"
                           ng-model="searchDocumentName">
                  </div>
                  <span class="input-group-btn">
                            <button class="btn btn-default theme-btn" type="submit">
                                {{'home.search_button' | translate}}
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="subjectsHome">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'home.subjects_outstanding' | translate}}</h1>
          <div class="subjects-item-container">
            <div class="item col-md-3" ng-repeat="(key, subject) in subjectsOutstanding">
              <a href="#/subject/{{subject.id}}" class="item-link {{subject.code}}">
                {{'subject.'+ subject.code | translate}}
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button-find-search">
            <a href="#/search" class="btn btn-lg green">{{'home.find_text'| translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="howWorksHome">
    <div class="container">
      <h1 ng-bind-html="'home.how_works_title' | translate"></h1>
      <div class="row service-box">
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-book blue"></i></em>
              <span translate="home.how_works_subtitle_1"></span></span>
          </div>
          <p translate='home.how_works_text_1'></p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-group blue"></i></em><span translate="home.how_works_subtitle_2"></span></span>
          </div>
          <p translate="home.how_works_text_2"></p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-box-heading">
            <span><em class="icon"><i class="fa fa-trophy blue"></i></em><span translate="home.how_works_subtitle_3"></span></span>
          </div>
          <p translate="home.how_works_text_3"></p>
        </div>
      </div>
    </div>
  </div>
</section>

