<section id="search">
  <div id="headerSearch">
    <div class="container">
      <div class="row">
        <div class="search-container">
          <div class="search">
            <form class="form-inline" action="#" ng-submit="searchDocumentByName()">
              <div class="input-group">
                <div class="input-cont">
                  <input class="form-control" type="text" placeholder="¿Qué estás buscando?"
                         ng-model="searchDocumentName">
                </div>
                <span class="input-group-btn">
                            <button class="btn btn-default theme-btn" type="button">
                                Buscar
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-result">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Se encontraron {{documents.length}} documentos</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="filtersSearch">
    <div class="filters">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="(key, filter) in filters" class="filter">
              <div class="section-filter">{{filter.section}}</div>
              <div class="value-filter">{{filter.value}}</div>
              <i class="fa fa-times close" ng-click="removeFilter(filter)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contentSearch">
    <div class="container">
      <div class="row">
        <div class="col-md-3 filters-column">
          <div class="title">Filtros de busqueda</div>
          <div class="filter-section">
            <div class="title" >
              Entidades educativas
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in entities" class="filter" ng-click="addFilter(value, 'entity')">
                {{value.code}}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title" >
              Materias
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in subjects" class="filter" ng-click="addFilter(value, 'subject')">
                {{value.code}}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title">
              Nivel
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in levels" class="filter" ng-click="addFilter(value, 'level')">
                {{value.code}}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title">
              Idioma
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in languages" class="filter" ng-click="addFilter(value, 'language')">
                {{value.code}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 search-result">
          <div class="item-result row">
            <div class="col-md-12 col-sm-12">
              <div class="title">Documento 1</div>
              <ul class="blog-info">
                <li><i class="fa fa-calendar"></i> 25/07/2013</li>
                <li><i class="fa fa-comments"></i> 17</li>
                <li><i class="fa fa-tags"></i> Metronic, Keenthemes, UI Design</li>
              </ul>
              <div class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui sint blanditiis prae sentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non eleifend
                enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur
                adipiscing condimentum eleifend enim a feugiat.</div>
              <a class="more" href="blog_item.html">Read more <i class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>


    </div>
</section>


