<section id="search">
  <div id="headerSearch">
    <div class="container">
      <div class="row">
        <div class="search-container">
          <div class="search">
            <form class="form-inline" action="#" ng-submit="searchDocumentByName($event)">
              <div class="input-group">
                <div class="input-cont">
                  <input class="form-control" type="text" placeholder="{{'search.input_placeholder' | translate}}"
                         ng-model="searchDocumentName">
                </div>
                <span class="input-group-btn">
                            <button class="btn btn-default theme-btn" type="submit">
                               {{'search.input_button' | translate}}
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-result">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>
            {{'search.documents_find' | translate:{ quantity: documents.length } }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div id="filtersSearch">
    <div class="filters">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="(key, filter) in filters" class="filter">
              <div class="section-filter">{{ ('search.filter_' + filter.section) | translate }}</div>
              <div class="value-filter">{{filter.value | lowercase }}</div>
              <i class="fa fa-times close" ng-click="removeFilter(filter)"></i>
            </div>
            <div ng-if="filters.length == 0" class="filter without-filter">
              {{'search.without_filters' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contentSearch">
    <div class="container">
      <div class="row">
        <div class="col-md-3 filters-column">
          <div class="title">
            {{ 'search.filter_section_title' | translate }}

          </div>
          <div class="filter-section">
            <div class="title" >
              {{ 'search.filter_section_entity' | translate }}
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in entities" class="filter" ng-click="addFilter(value, 'entity')">
                {{value.nombreCorto}}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title" >
              {{ 'search.filter_section_subject' | translate }}
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in subjects" class="filter" ng-click="addFilter(value, 'subject')">
                {{'subject.' + value.code | translate }}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title">
              {{ 'search.filter_section_level' | translate }}
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in levels" class="filter" ng-click="addFilter(value, 'level')">
                {{'level.' + value.code | translate }}
              </div>
            </div>
          </div>
          <div class="filter-section">
            <div class="title">
              {{ 'search.filter_section_language' | translate }}
            </div>
            <div class="filters">
              <div ng-repeat="(key, value) in languages" class="filter" ng-click="addFilter(value, 'language')">
                {{'language.' + value.code | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 search-result">
          <div class="item-result row" ng-repeat="(key, document) in documents">
            <div class="col-md-12 col-sm-12">
              <div class="title">{{document.nombre}}</div>
              <ul class="blog-info">
                <li><i class="fa fa-calendar"></i>{{ document.fechaCreacion | date:'MM/dd/yyyy' }}</li>
                <li><i class="fa fa-comments"></i> 2</li>
                <li><i class="fa fa-tags"></i>
                  <a href="#/entity/{{document.entidad.id}}" class="fa-tags-text">{{document.entidad.nombreCorto}}</a>,
                  {{document.materia.nombre}},
                  {{document.idioma.nombre}}</li>
              </ul>
              <div class="description">{{ document.descripcion }}</div>
              <br/>
              <a href="#">
                <button class="btn green button-document-detail">Ver detalle</button>
              </a>
            </div>
          </div>
          <div ng-if="documents.length == 0" class="filter without-documents">
            {{'search.without_documents' | translate }}
          </div>
        </div>
      </div>


    </div>
</section>


