<section id="subject">
  <div id="headerSubject" class="{{subject.code}}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">{{'subject.' + subject.code | translate }}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="first-title">
            <span>{{subject.nombre}}</span>
            <button ng-if="!subjectFollow" class="btn green btn-sm" title="Seguir materia" ng-click="followSubject()">
              <i class="fa fa-eye"/>
            </button>
            <button ng-if="subjectFollow" class="btn red btn-sm" title="Dejar de seguir materia" ng-click="unfollowSubject()">
              <i class="fa fa-eye-slash"/>
            </button>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="description">
            {{subject.descripcion}}<br/>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h3>{{'subject_section.related_documents' | translate}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="search-result">
                <div class="row" ng-repeat="(key, document) in documents">
                  <document-item document="document"></document-item>
                </div>
                <div ng-if="documents.length == 0" class="filter without-documents">
                  {{'search.without_documents' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4  blog-item">
          <h3>{{'document.comments' | translate }}</h3>
          <comments entity="subject" type="'subject'" user="user"></comments>
        </div>
      </div>

    </div>
  </div>
  <div id="headerSearch">
    <div class="container">
      <div class="row">
        <div class="search-container">
          <div class="search">
            <form class="form-inline" action="#" ng-submit="searchDocument($event)">
              <div class="text">
                {{'subject_section.search_documents' | translate}}
              </div>
              <div class="input-group">
                <div class="input-cont">
                  <input class="form-control" type="text" placeholder="{{'search.input_placeholder' | translate}}"
                         ng-model="searchDocumentName">
                </div>
                <span class="input-group-btn">
                            <button class="btn btn-default theme-btn" type="submit">
                               {{'search.input_button' | translate}}
                                <i class="m-icon-swapright m-icon-white"></i>
                            </button>
                        </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


