<section id="user">
  <div class="container">
    <div id="infoUser" class="row">
      <div class="col-md-12">
        <div class="image-user col-md-2">
          <img src="images/anon-user.jpg" class="img-responsive"/>
        </div>
        <div class="content-user col-md-6">
          <div class="user-username">
            Juliansci
          </div>
          <div class="user-field">
            Julian Scialabba
          </div>
          <div class="user-field">
            julian.scialabba@gmail.com
          </div>

          <div class="user-field">
            Description: not have a description
          </div>
        </div>
        <div class="col-md-4">
          <h2 style="margin-top:0px;">Medallas</h2>
          <div class="content-medals">
            <div class="medal medal-begin" title="Begin"></div>
            <div class="medal medal-first-document" title="First document"></div>
            <div class="medal medal-first-comment" title="First comment"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="blog-post-sep">
  <div id="myDocuments">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Mis documentos</h1>
          <div class="description">
            No tiene documentos subidos.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myActivity">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Mi actividad</h1>
          <div class="description">
            No tiene actividad reciente.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myFavs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Mi favoritos</h1>
          <div class="description">
            No tiene documentos favoritos.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

