<section id="user">
  <div class="container">
    <div id="infoUser" class="row">
      <div class="col-md-12">
        <div class="image-user col-md-2 js-image-user">
          <div ng-if="isProfileUserLogged" class="edit-img js-edit-image"><i class="fa fa-pencil"></i></div>
          <img ng-if="!userProfile.foto.base64Src" src="images/anon-user.jpg" class="img-responsive js-img-profile"/>
          <img ng-if="userProfile.foto.base64Src" ng-src="{{userProfile.foto.base64Src}}"
               class="img-responsive js-img-profile"/>
          <form ng-if="isProfileUserLogged" action={{"alumno/"+userProfile.id+"/profile/image"}} method="POST" enctype="multipart/form-data"
                class="hide">
            <input  class="js-add-image" type="file" name="profileImage" accept=".jpg,.jpeg"/>
          </form>
        </div>
        <div class="content-user col-md-6">
          <div class="user-username js-user-username">
            {{userProfile.username ? userProfile.username : 'user.input_your_username' | translate}}
          </div>
          <div ng-if="isProfileUserLogged" class="edit-profile js-edit-profile">
            <span ng-show="!onEditProfile">{{'user.edit_profile' | translate}}</span>
            <span ng-show="onEditProfile">{{'user.finish_edit_profile' | translate}}</span>
          </div>
          <div class="user-field js-user-email">
            {{userProfile.email ? userProfile.email : 'user.input_your_email' | translate }}
          </div>
          <br>
          <div class="user-field js-user-name" editable-text="userProfile.name">
            {{userProfile.nombre ? userProfile.nombre : 'user.input_your_name' | translate }}
          </div>
          <br>
          <div class="user-field js-user-description">
            {{userProfile.presentacion ? userProfile.presentacion: 'user.input_your_description' | translate }}
          </div>
        </div>
        <div class="col-md-4">
          <h2 style="margin-top:0px;">{{'user.medals_title' | translate }}</h2>
          <div class="content-medals">
            <div class="medal medal-begin" title="Begin"></div>
            <div class="medal medal-first-document" title="First document"></div>
            <div class="medal medal-first-comment" title="First comment"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="blog-post-sep">
  <div id="uploadedDocuments">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'user.uploaded_documents' | translate }}</h1>
          <div class="row" ng-repeat="(key, document) in uploadedDocuments">
            <div class="document-list-item col-md-12 col-sm-12">
              <a href="#/document/{{document.id}}" >
                <div class="title">{{document.nombre}}</div>


              </a>
              <ul class="blog-info">
                <li><i class="fa fa-calendar"></i>{{ document.fechaCreacion | date:'MM/dd/yyyy' }}</li>
                <li><i class="fa fa-tags"></i>
                  <a href="#/entity/{{document.entidad.id}}" >{{document.entidad.nombreCorto}}</a>,
                  <a href="#/subject/{{document.materia.id}}" >{{document.materia.nombre}}</a>,
                  {{document.idioma.nombre}}
                </li>
                <li ng-if="document.puntuacionCantidad >= 1"><i class="fa fa-star"></i> {{document.puntuacion}} ({{document.puntuacionCantidad}} <i class="fa fa-user"></i>)</li>
              </ul>
              <div class="description">{{ document.descripcion }}</div>
              <br/>
              <a ng-if="isProfileUserLogged" href="#/document/edit/{{document.id}}">
                <button class="btn green btn-sm" style="margin-top: 10px;">
                  {{'user.edit_document' | translate}}
                </button>
              </a>
              <a ng-if="isProfileUserLogged" href="#/document/edit/versions/{{document.id}}">
                <button class="btn blue btn-sm" style="margin-top: 10px;">
                  Administrar versiones
                </button>
              </a>
              <a ng-if="isProfileUserLogged" href="#/document/edit/versions/{{document.id}}">
                <button class="btn btn-default btn-sm" style="margin-top: 10px;">
                  Administrar compartidos
                </button>
              </a>
              <button class="btn red btn-sm js-remove-document" data-id="{{document.id}}" style="margin-top: 10px;">
                  Eliminar
              </button>
            </div>


          </div>
          <div ng-if="uploadedDocuments.length == 0" class="filter without-documents">
            {{'user.without_uploaded_documents' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  ng-if="isProfileUserLogged" id="sharedDocuments">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'user.shared_documents' | translate }}</h1>
          <div class="row" ng-repeat="(key, document) in sharedDocuments">
            <div class="document-list-item col-md-12 col-sm-12">
              <a href="#/document/{{document.id}}" >
                <div class="title">{{document.nombre}}</div>
              </a>
              <div class="score" ng-if="document['creador'] !== user['id']">
                <input id="d{{document.id}}-score5" type="radio" name="d{{document.id}}-score" value="5" ng-click="sendScore(5)" ng-checked="isScored && documentScore === 5"><label for="d{{document.id}}-score5">★</label>
                <input id="d{{document.id}}-score4" type="radio" name="d{{document.id}}-score" value="4" ng-click="sendScore(4)" ng-checked="isScored && documentScore === 4"><label for="d{{document.id}}-score4">★</label>
                <input id="d{{document.id}}-score3" type="radio" name="d{{document.id}}-score" value="3" ng-click="sendScore(3)" ng-checked="isScored && documentScore === 3"><label for="d{{document.id}}-score3">★</label>
                <input id="d{{document.id}}-score2" type="radio" name="d{{document.id}}-score" value="2" ng-click="sendScore(2)" ng-checked="isScored && documentScore === 2"><label for="d{{document.id}}-score2">★</label>
                <input id="d{{document.id}}-score1" type="radio" name="d{{document.id}}-score" value="1" ng-click="sendScore(1)" ng-checked="isScored && documentScore === 1"><label for="d{{document.id}}-score1">★</label>
              </div>
              <ul class="blog-info">
                <li><i class="fa fa-calendar"></i>{{ document.fechaCreacion | date:'MM/dd/yyyy' }}</li>
                <li><i class="fa fa-tags"></i>
                  <a href="#/entity/{{document.entidad.id}}" >{{document.entidad.nombreCorto}}</a>,
                  <a href="#/subject/{{document.materia.id}}" >{{document.materia.nombre}}</a>,
                  {{document.idioma.nombre}}
                </li>

                <li ng-if="document.puntuacionCantidad >= 1"><i class="fa fa-star"></i> {{document.puntuacion}} ({{document.puntuacionCantidad}} <i class="fa fa-user"></i>)</li>

              </ul>

              <div class="description">{{ document.descripcion }}</div>
              <br/>
            </div>


          </div>
          <div ng-if="sharedDocuments.length == 0" class="filter without-documents">
            {{'user.without_shared_documents' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

