<section id="user">
  <div class="container">
    <div id="infoUser" class="row">
      <div class="col-md-12">
        <div class="image-user col-md-2 js-image-user">
          <div class="edit-img js-edit-image"><i class="fa fa-pencil"></i></div>
          <img ng-if="!userProfile.foto.base64Src" src="images/anon-user.jpg" class="img-responsive js-img-profile"/>
          <img ng-if="userProfile.foto.base64Src" ng-src="{{userProfile.foto.base64Src}}" class="img-responsive js-img-profile"/>
          <form action={{"alumno/"+userProfile.id+"/profile/image"}} method="POST" enctype="multipart/form-data" class="hide">
            <input class="js-add-image" type="file" name="profileImage" accept=".jpg,.jpeg"/>
          </form>
        </div>
        <div class="content-user col-md-6">
          <div class="user-username js-user-username">
            {{userProfile.username ? userProfile.username : 'user.input_your_username' | translate}}
          </div>
          <div class="edit-profile js-edit-profile">
            <span ng-show="!onEditProfile">{{'user.edit_profile' | translate}}</span>
            <span ng-show="onEditProfile">{{'user.finish_edit_profile' | translate}}</span>
          </div>
          <div class="user-field js-user-email">
            {{userProfile.email ? userProfile.email : 'user.input_your_email' | translate }}
          </div>
          <br>
          <div class="user-field js-user-name" editable-text="userProfile.name">
            {{userProfile.nombre ? userProfile.nombre : 'user.input_your_name' | translate }}
          </div>
          <br>
          <div class="user-field js-user-description">
            {{userProfile.presentacion ? userProfile.presentacion: 'user.input_your_description' | translate }}
          </div>
        </div>
        <div class="col-md-4">
          <h2 style="margin-top:0px;">{{'user.medals_title' | translate }}</h2>
          <div class="content-medals">
            <div class="medal medal-begin" title="Begin"></div>
            <div class="medal medal-first-document" title="First document"></div>
            <div class="medal medal-first-comment" title="First comment"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="blog-post-sep">
  <div id="myDocuments">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'user.my_documents' | translate }}</h1>
          <div class="description">
            {{'user.without_documents' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myActivity">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'user.my_activity' | translate }}</h1>
          <div class="description">
            {{'user.without_activity' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myFavs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{'user.my_favs' | translate }}</h1>
          <div class="description">
            {{'user.without_favs' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

